head{
    font-family: "M PLUS 1 Code", monospace;
  /* font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: x-large;
  margin-top: 4; */
  color: darkgoldenrod;
  /* font-variation-settings: "wdth" 100; */
}
*{
  font-family: "Edu QLD Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.title{
  font-family: "M PLUS 1 Code", monospace;
  color: darkgoldenrod;
}
.icon{
  color: orange;
}